.logo {
  max-height: 50px;
}

#neubar {
      background: lightgrey;
      box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
    }

    .nav-item .active {
      border-radius: 6px;
      background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
      box-shadow:  4px 4px 8px #ddc1a0,
                   -4px -4px 8px #f7e5cc;
    }
    #neubar .nav-item {
      margin : auto 4px;
    }

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.numberCircle {-moz-border-radius: 20px;
    border-radius: 20px;
border-color:black;
    background-color:black;
color:white;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:1.3em;
    height: 50px
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

p {
font-family: "Montserrat Medium";
}
