{% load static %}

<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <img src="{% static 'works/images/logo.jpg' %}" class="logo">
        <h3>Агенство Cadengee</h3>
      <ul class="navbar-nav ms-auto">
        {% for item in menu %}
        <li class="nav-item">
          <a class="nav-link" href="{% url item.url_name %}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    </div>
</nav>