{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock%}

{% block content %}
<p class="text-center fs-1 fw-bold">Свяжитесь с нами</p>
<div class="container py-5">
        <div class="row min-vh-25 align-items-start text-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2 class="fw-bolder">Адрес</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead">г. Пушкино, ул. Лесная, д. 30<br>Московская область<br>142077</p>

                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2 class="fw-bolder">Телефон</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead">Тел. 8(499)-773-40-45<br> 8(903)014-06-76<br>Электронная почта: mail@mydomain.com</p>

                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2 class="fw-bolder">Часы работы</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead">Начало работы: 08:00<br>Конец работы: 21:00<br>Поддержка 7/24</p>

                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div>
{% endblock%}