{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock%}

{% block content %}
<p class="text-center fs-1 fw-bold">Свяжитесь с нами</p>
<div class="container py-5">
        <div class="row min-vh-25 align-items-start text-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2 class="fw-bolder">Адрес</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead">121 Burton Avenue - Memphis<br>TN - Tennessee<br>Zip 38128</p>

                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2 class="fw-bolder">Телефон</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead">Tel 901-773-4045<br>Mobile 01-406-7690<br>Электронная почта: mail@mydomain.com</p>

                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="lc-block mb-4">
                    <div editable="rich">

                        <h2 class="fw-bolder">Hour</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead">Начало работы: 08:00<br>Конец работы: 21:00<br>Поддержка 7/24</p>

                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div>
{% endblock%}