{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock%}

{% block content %}
<h1 class="text-center fs-1 fw-bold">Добро пожаловать на сайт нашей компании.</h1>
<p>Геодезическое и кадастровое сопровождение по всей России.</p>
<p>Максимальная выгода и гарантия качества от первоклассных специалистов</p>
<div class="container text-center">
  <div class="row justify-content-around">
    <div class="col-4 d-flex">
      <div class="numberCircle">1</div>
      <div>
        <h1>Опыт и качество</h1>
        <p>Мы гарантируем качество выполняемых нами работ. Более чем за 10 лет мы, наша компания работала с десятками заказчиков.</p>
      </div>
    </div>
    <div class="col-4 d-flex">
      <div class="numberCircle">2</div>
      <div>
        <h1>Штат</h1>
        <p>В нашем штате работают высококлассные сотрудники. Все работы ведутся под чутким надзором первоклассных специалистов.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4 d-flex">
      <div class="numberCircle">3</div>
      <div>
        <h1>Сроки</h1>
        <p>Работая с нами вы не будете переживать за сроки выполнения работ по геодезическому сопровождению. Наши ресурсы позволяют нам избежать простоев в любой ситуации.</p>
      </div>
    </div>
    <div class="col-4 d-flex">
      <div class="numberCircle">4</div>
      <div>
        <h1>Точность</h1>
        <p>Для работы используем высокоточное и проверенное временем оборудование фирмы "Sokkia".</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-evenly">
    <div class="col-4 d-flex">
      <div class="numberCircle">5</div>
      <div>
        <h1>Перспективы</h1>
        <p>Наша цель - стабильность и рост компании, в наших интересах работать добросовестно,
          оставляя исключительно положительные впечатления о нашей компании.</p>
      </div>
    </div>
    <div class="col-4 d-flex">
      <div class="numberCircle">6</div>
      <div>
        <h1>Выгода</h1>
        <p>Стоимость наших услуг гораздо выгодней самостоятельного содержания сотрудников и аренды или покупки оборудования.
          Не говоря уже о том, что мы несем полную ответственность за нашу работу.</p>
      </div>
    </div>
  </div>
</div>
{% endblock%}