{% extends "base.html" %}
{% load static %}
{% block title %}Каталог услуг{% endblock%}

{% block content %}
<h1 class="text-center fs-1 fw-bold">Каталог услуг</h1>


<p class="fs-3 text-center">Взгляните на наши услуги</p>
    <div class="container text-center">
    {% for service in services %}
            <div class="container-lg p-2">
            {% include 'include/service_preview.html' %}
            </div>
    {% endfor %}
            </div>


<div class="d-grid gap-2 p-4">
    <a href="{% url 'add_service' %}" class="btn btn-primary" type="button">Выберите услугу</a>
</div>
{% endblock%}